* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
  height: 100%;
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/");
  src: url("../fonts/?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
}

body {
  font-family: "Proxima Nova Light", sans-serif;
  color: #1c1c1c;
  font-size: 1.7rem;
}

img {
  max-width: 100%;
}

.section {
  padding: 100px 0;
}
.section-title {
  font-size: 3rem;
  font-family: "Proxima Nova Semibold", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.section__title {
  margin-bottom: 90px;
}

.button-o {
  text-decoration: none;
  border: 2px solid #382D32;
  background-color: transparent;
  padding: 17px 22px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #382D32;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.button-o:hover {
  cursor: pointer;
}

.button {
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  padding: 17px 50px;
  background-color: #382D32;
  font-size: 1.2rem;
  color: #ffffff;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.button-add {
  background-color: #54444b;
  color: #ffffff;
}
.button-like {
  width: 30px;
  background: url("../img/catalog/like.png") no-repeat center center;
  background-size: cover;
  background-color: #382D32;
}
.button:hover {
  cursor: pointer;
}

.bg-secondary {
  background-color: #EBEBEB;
}

.input {
  height: 60px;
  padding-left: 30px;
  border: 1px solid #dddddd;
  font-size: 1.7rem;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked + label:before {
  background: url("../img/offer/check-mark.png") no-repeat center center;
  background-size: cover;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  font-size: 1.6rem;
}
.checkbox-label:hover {
  cursor: pointer;
}
.checkbox-label:before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #dddddd;
  margin-right: 10px;
}

@media (max-width: 576px) {
  .button-o {
    font-size: 1rem;
  }
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 2.4rem;
  }
}
.navbar {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #f9f6ef;
}
.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar__mobile, .navbar__landline {
  text-align: right;
}
.navbar__phone {
  display: block;
  font-size: 1.8rem;
  text-decoration: none;
  color: #1c1c1c;
  margin-bottom: 5px;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.navbar__small-text {
  display: block;
  font-size: 1.3rem;
  color: #7b7b79;
  text-decoration: none;
}

.menu {
  position: fixed;
  z-index: 0;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #382D32;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}
.menu_active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.menu__link {
  text-decoration: none;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #ffffff;
}
.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid #b7b0c2;
  border-left: 1px solid #b7b0c2;
  height: 80px;
  width: 70px;
}
.menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #382D32;
  margin: 2px 0;
}

.logo__text {
  display: block;
  margin-bottom: 5px;
  font-size: 2rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.logo__description {
  display: block;
  font-size: 1.3rem;
  color: #7b7b79;
}

@media screen and (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none;
  }
}
@media (max-width: 576px) {
  .logo {
    display: none;
  }
  .menu {
    top: 60px;
    height: 50%;
  }
  .menu-button {
    height: 60px;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.hero {
  background: #ebebeb url("../img/hero/hero-bg.jpg") no-repeat center top 60px;
  background-size: cover;
  padding-top: 170px;
  padding-bottom: 270px;
}
.hero__title {
  margin-bottom: 40px;
  font-size: 3rem;
  width: 280px;
}
.hero__subtitle {
  display: block;
  margin-bottom: 67px;
  font-size: 3rem;
  font-family: "Proxima Nova Semibold", sans-serif;
}

@media screen and (max-width: 991px) {
  .hero {
    background-position: top left -450px;
  }
}
.offer {
  padding: 129px 0;
}
.offer-block {
  background: #ffffff url("../img/offer/bg-offer.png") no-repeat center right;
  background-size: contain;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  padding: 80px;
  margin-top: -200px;
}
.offer__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold", sans-serif;
  margin-bottom: 10px;
}
.offer__subtitle {
  display: block;
  font-size: 2.1rem;
  margin-bottom: 40px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}
.form__row:last-child {
  margin-bottom: 0;
}
.form__label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 15px;
}
.form__group {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.form__group-second {
  -ms-flex-preferred-size: 37.5%;
      flex-basis: 37.5%;
}
.form__input {
  width: 100%;
  border-right-width: 0px;
}
.form__input:last-child {
  border-right-width: 1px;
}
.form__button {
  height: 60px;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .offer-block {
    background-position: center right -140px;
  }
}
@media screen and (max-width: 768px) {
  .offer-block {
    background: none;
    background-color: #fff;
    padding: 40px;
    margin-top: -250px;
  }
  .offer__title {
    font-size: 1.8rem;
  }
  .offer__subtitle {
    font-size: 1.6rem;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__row-checkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form__group, .form__group-second {
    width: 100%;
  }
  .form__input {
    margin-bottom: 20px;
  }
}
@media (max-width: 360px) {
  .form__row-checkbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .form__checkbox {
    margin-bottom: 20px;
  }
}
.advantages-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.advantages-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  text-align: center;
  margin-bottom: 90px;
}
.advantages-block__image {
  width: 80px;
}
.advantages-block__text {
  width: 200px;
}

@media screen and (max-width: 991px) {
  .advantages-block__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media screen and (max-width: 768px) {
  .advantages-block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 50px;
  }
}
.catalog {
  background-color: #EBEBEB;
}
.catalog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog-card {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  position: relative;
  -webkit-box-shadow: 7px 5px 20px rgba(70, 48, 27, 0.4);
          box-shadow: 7px 5px 20px rgba(70, 48, 27, 0.4);
}
.catalog-card__image {
  display: block;
  width: 100%;
  height: 100%;
}
.catalog-card__tag {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(56, 45, 50, 0.6);
}
.catalog-card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}
.catalog-card__button {
  font-size: 1.1rem;
  border: none;
  text-transform: uppercase;
  padding: 10px;
  height: 30px;
}
.catalog__card {
  margin-bottom: 30px;
}
.catalog__link {
  text-align: center;
  margin-top: 60px;
}
.catalog__link-more {
  display: inline-block;
  margin-bottom: 24px;
}
.catalog__description {
  display: block;
}

@media screen and (max-width: 991px) {
  .catalog-card {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .catalog-card__button {
    padding: 20px 30px;
    height: 50px;
  }
}
@media screen and (max-width: 768px) {
  .catalog-card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.blog__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.blog__title {
  font-size: 2.4rem;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.blog__link-more {
  color: #777aff;
  font-size: 1.6rem;
}
.blog-card {
  width: 280px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}
.blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.blog-list__image {
  height: 170px;
  overflow: hidden;
  width: 100%;
}
.blog-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}
.blog-list__card {
  margin-bottom: 40px;
}

@media screen and (max-width: 1199px) {
  .blog-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .blog__title {
    font-size: 2rem;
  }
}
.price {
  background-color: #f1f1f1;
}
.price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.price-block__card {
  margin-bottom: 30px;
}
.price-card {
  position: relative;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.price-card__text {
  padding: 30px;
  font-size: 1.5rem;
}
.price-card__title {
  margin: 0;
}
.price-card__cost {
  font-family: "Proxima Nova Semibold", sans-serif;
}
.price-card__image {
  width: 100%;
}
.price-card__pricetag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.price-card__button {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  height: 100px;
  padding: 20px;
}
.price-card:hover .price-card__button {
  z-index: 30;
  bottom: -80px;
}

@media screen and (max-width: 1199px) {
  .price-card__pricetag {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .price-card__title {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 991px) {
  .price-card {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}
@media screen and (max-width: 768px) {
  .price-block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .price-card {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}
.step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 180px;
  margin-bottom: 40px;
}
.step:last-child:before {
  display: none;
}
.step:before {
  content: "";
  width: 72%;
  height: 2px;
  background-color: #dcdcdc;
  display: block;
  position: absolute;
  top: 18%;
  right: -50%;
}
.step__title {
  font-size: 1.8rem;
  margin-bottom: 5px;
}
.step__text {
  max-width: 160px;
  font-size: 1.5rem;
}
.step__image {
  width: 100px;
  height: 100px;
}
.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}

@media screen and (max-width: 1199px) {
  .step {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  .step::before {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .step {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}
@media (max-width: 450px) {
  .step {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}/*# sourceMappingURL=style.css.map */