html
    font-size: 10px
body
    +light
    color: $text-color
    font-size: 1.7rem
img
    max-width: 100%
.section
    padding: 100px 0
    &-title
        font-size: 3rem
        +bold
        text-align: center
        text-transform: uppercase
    &__title
        margin-bottom: 90px
.button-o
    text-decoration: none
    border: 2px solid $primary-color
    background-color: transparent
    padding: 17px 22px
    font-size: 1.2rem
    text-transform: uppercase
    color: $primary-color
    +bold
    &:hover
        cursor: pointer
.button
    text-decoration: none
    border: none
    text-transform: uppercase
    padding: 17px 50px 
    background-color: $primary-color
    font-size: 1.2rem
    color: #ffffff
    +bold
    &-add
        background-color: lighten($primary-color, 10%)
        color: #ffffff
    &-like
        width: 30px
        background: url('../img/catalog/like.png') no-repeat center center
        background-size: cover
        background-color: $primary-color
    &:hover
        cursor: pointer
.bg-secondary
    background-color: $bg-secondary
.input
    height: 60px
    padding-left: 30px
    border: 1px solid $border-color
    font-size: 1.7rem
input[type="checkbox"]
    display: none
    &:checked + label:before
        background: url('../img/offer/check-mark.png') no-repeat center center
        background-size: cover
.checkbox
    &-label
        display: flex
        align-items: center
        margin-right: 30px
        font-size: 1.6rem
        &:hover
            cursor: pointer
        &:before
            content: ''
            width: 20px
            height: 20px
            border: 1px solid $border-color
            margin-right: 10px
.visually-hidden
    position: absolute
    width: 1px
    height: 1px
    margin: -1px
    padding: 0
    border: 0
    clip: rect(0 0 0 0)
    overflow: hidden
@media (max-width: 576px)
    .button-o
        font-size: 1rem
    .section
        padding: 60px 0
        &-title
            font-size: 2.4rem