.about
    margin-top: 50px
    min-height: calc(100vh - 240px)
    &-block
        display: flex
        justify-content: space-between
        align-items: center
        &__image
            width: 40%
        &__text
            flex-basis: 50%