.reviews
    background-color: $bg-secondary
    padding-bottom: 200px
    &-slider
        display: flex
        justify-content: space-between
        &__item
            text-align: center
        &__image
            display: block
            width: 80px
            height: 80px
            border-radius: 50%
            border: 2px solid $primary-color
            margin: 20px auto
        &__text
            position: relative
            font-size: 1.5rem
            font-style: italic
            max-width: 370px
            padding: 20px
            background-color: #ffffff
            border-radius: 10px
            &:after
                content: ''
                position: absolute
                bottom: -18px
                left: 50%
                transform: translateX(-50%)
                border: 10px solid transparent
                border-top: 10px solid #ffffff